/* big tablets to 1200px width smaller then the row class */
/* small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 768px) {
  .col {
    width: 100%;
    margin: 0 0 4% 0;
  }
  .gallery {
    width: 100%;
    margin: 0 0 4% 0;
  }
  .gallery img {
    width: 70%;
    height: 50%;
  }
  .hero-text-box p {
    font-size: 170%;
    /* white-space: pre-line; */
  }
  .hero-text-box h1 {
    line-height: 1px;
    font-size: 160%;
  }
}

/* phones smaller then ipad from 481 to 767px */
@media only screen and (max-width: 767px) {
  .hero-text-box p {
    font-size: 200%;
    white-space: pre-line;
  }

  .page-heading h1 {
    font-size: 120%;
  }
  .register-btn {
    position: absolute;
    bottom: 10%;
  }
  .footer-content {
    line-height: 25px;
  }
  .footer-image {
    margin-left: 5%;
  }
  .social-links {
    float: none;
    text-align: center;
  }
  footer .row {
    text-align: center;
  }
}
@media only screen and (max-width: 480px) {
  .bottom-location-text:link,
  .bottom-location-text:visited {
    position: absolute;
    bottom: 0;
    font-size: 60%;
    text-decoration: none;
    color: #fff;
    margin: 10px;
  }
  .page-heading h1 {
    font-size: 80%;
  }
  .hero-text-box h1 {
    font-size: 150%;
    line-height: 20px;
  }
  .hero-text-box p {
    font-size: 170%;
  }
}
