{% extends 'registrations/base.html' %}
    {% block details%}
    <h1> Student Information
        {% for profile in data%}
            {% if profile.username == user %}
            <br>
                Name: {{profile.first_name}} {{profile.last_name}}<br><br>
                Mobile Number: {{profile.mob}} <br><br>
                Team Name: {{profile.teamname}} <br><br>
                Team-id: {{profile.team_id}} <br><br>
                E-Mail: {{profile.mail}} <br><br>
                D-O-B: {{profile.dob}} <br><br>
                College: {{profile.college}} <br><br>
                Course: {{profile.course}} <br><br>
                Year: {{profile.year}} <br><br>
                About:  {{profile.about}} <br><br>
                Skills: {{profile.skills}} <br><br>
                Github: {{profile.githubUrl}} <br><br>
                Linkedin: {{profile.linkedinUrl}} <br><br>
            {%endif%}
        {%endfor%}
    </h1>

    <a href="{% url 'accounts:logout_page'%}"><h1>Logout</h1></a>
    {%endblock%}